<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="73171B7B-764B-42E9-957E-F4144ACD2D37" Name="Madeira Wine32 probe"
           Language="1033" Version="1.0.0" Manufacturer="Madeira"
           UpgradeCode="27AEE752-2E12-4B9E-A8DF-26C7D10A1BE0">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="probe.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Madeira32Probe">
          <Component Id="ProbeProgram" Guid="532DB118-6ADC-4B15-983A-6D6D36F49C5F">
            <File Id="ProbeExe" Source="probe.exe" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="Complete" Title="Probe" Level="1">
      <ComponentRef Id="ProbeProgram" />
    </Feature>
  </Product>
</Wix>
